{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="zxx">
  <body>
    <!-- //banner-->
    <!--/banner-bottom -->
    <section class="banner-bottom py-5">
      <div class="container py-md-5">
        <div class="row grids-wthree-info">
          <div class="col-lg-6 bag-img">
            <img
              src="{% static 'images/cr1.jpeg' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 ab-info-con ab-inf-page text-left">
            <h4>About <span style="color: #ec1c24">R</span>oadstar</h4>
            <p>
              Roadstar Rentals is a car rental company based in Abuja/Nigeria,
              it was founded by Ajayi Zemira Ozoza and we deal in the rental of
              cars for all kinds of purposes, we offer services like delivery,
              airport pick-up, etc. We are located at No.1 Bitou Street Off
              Parakou Crescent and we look forward to having you come by for a
              rental.
            </p>
            <a href="single.html" class="btn shop mt-4">Rent now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /banner-bottom -->
    <!--/banner-bottom -->
    <section class="collections">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 ab-content-img"></div>
          <div class="col-md-4 ab-content text-center p-lg-5 p-3 my-lg-5">
            <h4>Travel Must Haves</h4>
            <p>
              These range of cars are common with tourists and travelers, if you
              are visiting Abuja we encourage you to peruse our travel must
              haves. You'll find something you like.
            </p>
            <a href="shop.html" class="btn shop mt-3">Rent Now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /banner-bottom -->
    <!--/collections -->
    <section class="banner-bottom py-5">
      <div class="container py-md-5">
        <h3 class="title-wthree mb-lg-5 mb-4 text-center">
          Safety Meets Style
        </h3>
        <div class="row text-center">
          <div class="col-md-4 content-gd-wthree">
            <img src="{% static 'images/c1.jpeg' %}" class="img-fluid" alt="" />
          </div>
          <div class="col-md-4 content-gd-wthree ab-content py-lg-5 my-lg-5">
            <h4>Need Extra Space ?</h4>
            <p>
              We also have a range of vehicles with space so if you ever want to
              transport family, friends or colleages, We have got you covered.
            </p>
            <a href="shop.html" class="btn shop mt-3">Rent Now</a>
          </div>
          <div class="col-md-4 content-gd-wthree">
            <img src="{% static 'images/c2.jpeg' %}" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- //collections-->
    <!-- /mid-section -->
    <section class="mid-section">
      <div class="d-lg-flex p-0">
        <div class="col-lg-6 bottom-w3pvt-left p-lg-0">
          <img
            src="{% static 'images/cr1.jpeg' %}"
            class="img-fluid"
            alt=""
            style="opacity: 0.8"
          />
          <div class="pos-wthree">
            <h4 class="text-wthree">
              50% Off Any <br />
              Women's Bags
            </h4>
            <a href="shop.html" class="btn shop mt-3">Rent Now</a>
          </div>
        </div>
        <div class="col-lg-6 bottom-w3pvt-left bottom-w3pvt-right p-lg-0">
          <img
            src="{% static 'images/cr2.jpeg' %}"
            class="img-fluid"
            alt=""
            style="opacity: 0.8"
          />
          <div class="pos-w3pvt">
            <h4 class="text-w3pvt">
              30% Off Any <br />
              Men's Bags
            </h4>
            <a href="shop.html" class="btn shop mt-3">Rent Now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- //mid-section -->

    <!--/newsletter -->
    <section class="newsletter-w3pvt py-5">
      <div class="container py-md-5">
        <form method="post" action="#">
          <p class="text-center">
            Subscribe to the <span style="color: #ec1c24">R</span>oadstar
            mailing list to receive updates on new arrivals, special offers and
            other discount information.
          </p>
          <div class="row subscribe-sec">
            <div class="col-md-9">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Your Email.."
                name="email"
                required=""
              />
            </div>
            <div class="col-md-3">
              <button
                type="submit"
                class="btn submit"
                style="background-color: #ec1c24"
              >
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!--//newsletter -->
    <!--/shipping-->
    <section class="shipping-wthree">
      <div class="shiopping-grids d-lg-flex">
        <div class="col-lg-4 shiopping-w3pvt-gd text-center">
          <div class="icon-gd">
            <span class="fa fa-truck" aria-hidden="true"></span>
          </div>
          <div class="icon-gd-info">
            <h3>FREE SHIPPING</h3>
            <p>On all order over &#8358;100,000</p>
          </div>
        </div>
        <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
          <div class="icon-gd">
            <span class="fa fa-bullhorn" aria-hidden="true"></span>
          </div>
          <div class="icon-gd-info">
            <h3>FREE RETURN</h3>
            <p>On 1st exchange in 30 days</p>
          </div>
        </div>
        <div class="col-lg-4 shiopping-w3pvt-gd text-center">
          <div class="icon-gd">
            <span class="fa fa-gift" aria-hidden="true"></span>
          </div>
          <div class="icon-gd-info">
            <h3>MEMBER DISCOUNT</h3>
            <p>Register &amp; save up to &#8358;29%</p>
          </div>
        </div>
      </div>
    </section>
    <!--//shipping-->
    {% endblock content %}
  </body>
</html>
